* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "verdana";
}

body {
  background-color: #dae3e5;
}

body .header-index {
  background-color: #a1c6ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-shadow: 1px 2px 10px #507dbc;
          box-shadow: 1px 2px 10px #507dbc;
}

body .header-index .top {
  color: #507dbc;
  font-size: 55px;
  margin: 0 auto 1rem auto;
  font-family: "verdana";
  font-weight: bold;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body .nav-index ul {
  font-size: 12px;
  font-family: "verdana";
  min-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .nav-index ul li {
  border-radius: 25% 25% 0 0;
  font-family: "verdana";
  list-style-type: none;
  background-color: #507dbc;
  border: 1px solid #a1c6ea;
  padding: 0.202rem;
}

body .nav-index ul li a {
  font-size: 12px;
  font-weight: bolder;
  color: #04080f;
  text-decoration: none;
}

body .nav-index ul li ul {
  list-style-type: none;
  display: none;
}

.main-index h2 {
  font-size: 22px;
  text-align: center;
  margin: 2rem auto;
}

.main-index .professors-index {
  border-radius: 2%;
  background-color: #507dbc;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-shadow: 0px 1px 10px;
          box-shadow: 0px 1px 10px;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.2rem auto;
  gap: 0.5rem;
  padding: 1.2rem 0;
}

.main-index .professors-index a {
  font-size: 18px;
  text-decoration: none;
  color: #507dbc;
}

.main-index .professors-index div {
  border-radius: 2%;
  background-color: #a1c6ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 1px 10px;
          box-shadow: 0px 1px 10px;
  margin-bottom: 0;
}

.main-text-index h3 {
  font-size: 22px;
  text-align: center;
  margin: 3rem auto 2rem auto;
}

.main-text-index p {
  font-size: 18px;
  width: 80%;
  margin: 0.5rem auto;
}

.flecha p {
  font-size: 50px;
  text-align: center;
  padding-bottom: -2rem;
  margin-bottom: -2rem;
}

.contacto {
  border-radius: 2%;
  margin: 2rem 0 0 0;
  background-color: #507dbc;
  text-align: center;
}

.contacto a {
  font-size: 180px;
  font-family: "verdana";
  color: #04080f;
}

.footer-index div nav a {
  text-decoration: none;
  color: #507dbc;
  text-align: center;
}

.footer-index__reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto;
}

.footer-index__reg h5 {
  font-size: 12px;
  margin: 1rem;
  color: #04080f;
}

@media (min-width: 767px) {
  body .header-index {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .header-index .top {
    font-size: 95px;
  }
  body .header-index .nav-index ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .header-index .nav-index ul li {
    border-radius: 12% 0 0 12%;
  }
  body .header-index .nav-index ul li a {
    font-size: 25px;
  }
  body .main-index h2 {
    font-size: 45px;
    margin: 4rem;
  }
  body .main-index .professors-index {
    font-size: 28px;
    padding: 2rem;
    gap: 2.6rem;
    width: 760px;
  }
  body .main-index .professors-index div {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    width: 700px;
  }
  body .main-index .professors-index div a {
    font-size: 40px;
  }
  body .main-index .professors-index div img {
    border-radius: 20%;
    margin: 1rem;
    width: 350px;
  }
  body .main-index .professors-index div div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .main-text-index h3 {
    font-size: 50px;
  }
  .main-text-index p {
    font-size: 30px;
  }
  .flecha p {
    font-size: 150px;
  }
  .contacto a h4 {
    font-size: 40px;
  }
  .footer-index div nav a {
    display: none;
    font-size: 40px;
  }
  .footer-index__reg h5 {
    font-size: 30px;
  }
  .footer-index__reg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1023px) {
  body .header-index .top {
    font-size: 100px;
    margin: 2rem auto;
  }
  body .header-index .nav-index ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    top: 4.5rem;
  }
  body .header-index .nav-index ul li {
    border-radius: 10% 10% 0 0;
  }
  body .header-index .nav-index ul li a {
    font-size: 22px;
  }
  body .main-index h2 {
    margin-bottom: 4rem;
    font-size: 50px;
  }
  body .main-index .professors-index {
    font-size: 25px;
  }
  body .main-index .professors-index div img {
    width: 180px;
    border-radius: 100%;
  }
  .main-index h2 {
    margin-top: 0.1rem;
    margin-bottom: 4rem;
  }
  .main-index .professors-index div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .main-index .professors-index div img {
    width: 180px;
    border-radius: 100%;
  }
  .main-text-index h2 {
    margin-bottom: 3rem;
  }
  .main-text-index p {
    font-size: 25px;
    margin-bottom: 2rem;
  }
  .footer-index {
    margin-bottom: -8rem;
  }
  .footer-index div nav a {
    display: contents;
    font-size: 25px;
  }
  .footer-index div nav a:hover {
    -webkit-box-shadow: #507dbc;
            box-shadow: #507dbc;
    color: #04080f;
  }
}

.body-contact .header-contact {
  background-color: #a1c6ea;
  margin: 0 auto;
  padding: 0.3rem;
}

.body-contact .header-contact h1 {
  color: #507dbc;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.body-contact .main-contact {
  width: 98%;
  margin: 2rem auto;
}

.body-contact .main-contact .form-contact__campo .form-contact__title {
  font-size: 15px;
  margin-bottom: 1rem;
  padding: 0 0.3rem 0.3rem 0.3rem;
}

.body-contact .main-contact .form-contact__campo section label {
  font-size: 15px;
}

.body-contact .main-contact .form-contact__campo section label input {
  font-size: 15px;
}

.volver-contact a {
  text-decoration: none;
  color: #507dbc;
  font-size: 18px;
  padding: 0.5rem;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

.volver-contact a:hover {
  color: #04080f;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer-contact div nav {
  text-align: center;
}

.footer-contact a {
  text-decoration: none;
  color: #507dbc;
}

.footer-contact__reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto;
}

.footer-contact__reg h5 {
  font-size: 12px;
  margin: 1rem;
  color: #04080f;
}

@media (min-width: 767px) {
  .body-contact .header-contact h1 {
    font-size: 30px;
  }
  .body-contact .main-contact {
    width: 760px;
  }
  .body-contact .main-contact .form-contact__campo section {
    text-align: center;
  }
  .body-contact .main-contact .form-contact__campo section label {
    font-size: 20px;
  }
  .body-contact .main-contact .form-contact__campo section label input {
    font-size: 20px;
  }
  .body-contact .main-contact .form-contact__campo .form-contact__title {
    font-size: 25px;
  }
  .volver-contact a {
    font-size: 22px;
  }
  .footer-contact a {
    font-size: 25px;
  }
  .footer-contact__reg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-contact__reg h5 {
    font-size: 20px;
    font-weight: 300;
  }
}

@media (min-width: 1023px) {
  .body-contact .header-contact h1 {
    font-size: 35px;
  }
  .body-contact .main-contact {
    width: 85%;
  }
  .body-contact .main-contact .form-contact__campo section {
    text-align: left;
  }
  .body-contact .main-contact .form-contact__campo .form-contact__title {
    font-size: 28px;
  }
  .footer-contact a {
    font-size: 25px;
  }
  .footer-contact__reg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-contact__reg h5 {
    font-size: 20px;
  }
}

.body-materias .header-materias {
  background-color: #a1c6ea;
  margin: 0 auto;
  padding: 0.3rem;
}

.body-materias .header-materias h1 {
  color: #507dbc;
  font-size: 28px;
  text-align: center;
}

.body-materias .volver a {
  text-decoration: none;
  color: #507dbc;
  font-size: 18px;
  padding: 0.5rem;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

.body-materias .volver a:hover {
  color: #04080f;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.body-materias .img-materia-div__general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3rem 0 3rem 0;
}

.body-materias .img-materia-div__general img {
  width: 250px;
  margin: 0.2rem;
  border-radius: 12%;
  -webkit-box-shadow: 1px 2px 15px #507dbc;
          box-shadow: 1px 2px 15px #507dbc;
}

.body-materias .img-materia-div__general .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem auto 2.5rem auto;
}

.body-materias .img-materia-div__general .description h2 {
  font-size: 24px;
  color: #507dbc;
}

.body-materias .img-materia-div__general .description p {
  font-size: 15px;
  color: #04080f;
}

.body-materias .footer-materias div nav {
  text-align: center;
}

.body-materias .footer-materias a {
  text-decoration: none;
  color: #507dbc;
}

.body-materias .footer-materias__reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto;
}

.body-materias .footer-materias__reg h5 {
  font-size: 12px;
  margin: 1rem;
  color: #04080f;
}

@media (min-width: 767px) {
  .body-materias .header-materias h1 {
    font-size: 40px;
  }
  .body-materias .volver a {
    font-size: 22px;
  }
  .body-materias .img-materia-div__general img {
    width: 280px;
  }
  .body-materias .img-materia-div__general .description h2 {
    font-size: 28px;
  }
  .body-materias .img-materia-div__general .description p {
    font-size: 20px;
  }
  .body-materias .footer-materias a {
    font-size: 22px;
  }
  .body-materias .footer-materias__reg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .body-materias .footer-materias__reg h5 {
    font-size: 16px;
  }
}

@media (min-width: 1023px) {
  .body-materias .img-materia-div {
    border-radius: 10% 10% 5% 5%;
    -webkit-transition: background-color ease-in-out 0.5s;
    transition: background-color ease-in-out 0.5s;
  }
  .body-materias .img-materia-div:hover {
    border-radius: 10% 10% 2% 2%;
    background-color: #507dbc;
  }
  .body-materias .img-materia-div:hover h2 {
    color: #04080f;
  }
  .body-materias .footer-materias a {
    font-size: 25px;
  }
  .body-materias .footer-materias__reg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .body-materias .footer-materias__reg h5 {
    font-size: 20px;
    font-weight: 300;
  }
}

.body-sobreNosotros header {
  background-color: #a1c6ea;
}

.body-sobreNosotros header h1 {
  color: #507dbc;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.body-sobreNosotros .volver-sobreNosotros a {
  text-decoration: none;
  color: #507dbc;
  font-size: 18px;
  padding: 0.5rem;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

.body-sobreNosotros .volver-sobreNosotros a:hover {
  color: #04080f;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.body-sobreNosotros .section {
  margin: 1rem auto;
}

.body-sobreNosotros .section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem auto;
}

.body-sobreNosotros .section div div h2 {
  font-size: 20px;
  text-align: center;
}

.body-sobreNosotros .section div div div img {
  width: 200px;
  border-radius: 12%;
  -webkit-box-shadow: 1px 2px 10px;
          box-shadow: 1px 2px 10px;
  margin-bottom: 1rem;
}

.body-sobreNosotros .section div div div p {
  width: 85%;
}

.body-sobreNosotros .footer-sobreNosotros {
  text-align: center;
}

.body-sobreNosotros .footer-sobreNosotros div nav a {
  text-decoration: none;
  color: #507dbc;
  text-align: center;
}

.body-sobreNosotros .footer-sobreNosotros__reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto;
}

.body-sobreNosotros .footer-sobreNosotros__reg h5 {
  font-size: 12px;
  margin: 1rem;
  color: #04080f;
}

@media (min-width: 767px) {
  .body-sobreNosotros header h1 {
    font-size: 40px;
  }
  .body-sobreNosotros .volver-sobreNosotros a {
    font-size: 22px;
  }
  .body-sobreNosotros .section div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .body-sobreNosotros .section div div h2 {
    font-size: 28px;
  }
  .body-sobreNosotros .section div div div img {
    width: 320px;
  }
  .body-sobreNosotros .section div div div p {
    font-size: 20px;
  }
  .body-sobreNosotros .footer-sobreNosotros a {
    font-size: 25px;
  }
  .body-sobreNosotros .footer-sobreNosotros__reg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .body-sobreNosotros .footer-sobreNosotros__reg h5 {
    font-size: 20px;
    font-weight: 300;
  }
}

@media (min-width: 1023px) {
  .body-sobreNosotros header h1 {
    font-size: 45px;
  }
  .body-sobreNosotros .volver-sobreNosotros a {
    font-size: 25px;
  }
  .body-sobreNosotros .section div {
    margin: 0;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    gap: 2.5rem;
  }
  .body-sobreNosotros .section div div {
    width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 1.5rem auto 2rem auto;
  }
  .body-sobreNosotros .section div div h2 {
    font-size: 28px;
  }
  .body-sobreNosotros .section div div div img {
    width: 320px;
  }
  .body-sobreNosotros .section div div div p {
    font-size: 20px;
  }
  .body-sobreNosotros .footer-sobreNosotros {
    margin-top: 9rem;
  }
  .body-sobreNosotros .footer-sobreNosotros__reg h5 {
    font-size: 30px;
    margin-bottom: -2rem;
  }
}

.body-tipotut .header-tipotut {
  background-color: #a1c6ea;
  margin: 0 auto;
  padding: 0.3rem;
}

.body-tipotut .header-tipotut div h1 {
  font-weight: bold;
  color: #507dbc;
  font-size: 28px;
  text-align: center;
}

.body-tipotut .volver-tipotut a {
  text-decoration: none;
  color: #507dbc;
  font-size: 18px;
  padding: 0.5rem;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

.body-tipotut .volver-tipotut a:hover {
  color: #04080f;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.body-tipotut .carousel {
  width: 95%;
  min-width: 300px;
  margin: 2rem auto;
}

.body-tipotut .section-tipotut {
  width: 85%;
  margin: 0 auto;
}

.body-tipotut .section-tipotut h4, .body-tipotut .section-tipotut h5 {
  text-align: center;
  color: #04080f;
}

.body-tipotut .section-tipotut h4 {
  font-size: 25px;
}

.body-tipotut .section-tipotut h5 {
  font-size: 20px;
}

.body-tipotut .section-tipotut p {
  font-size: 17px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5rem 0.5rem 3rem 0.5rem;
  color: #04080f;
}

.body-tipotut .footer-tipotutoria {
  margin: 1rem auto 5rem auto;
}

.body-tipotut .footer-tipotutoria div nav a {
  text-decoration: none;
  color: #507dbc;
  text-align: center;
}

.body-tipotut .footer-tipotutoria__reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto;
}

.body-tipotut .footer-tipotutoria__reg h5 {
  font-size: 12px;
  margin: 1rem;
  color: #04080f;
}

@media (min-width: 767px) {
  .body-tipotut .header-tipotut div h1 {
    font-size: 55px;
  }
  .body-tipotut .carousel-inner {
    width: 85%;
    margin: 0 auto;
  }
  .body-tipotut .carousel-inner h5 {
    font-size: 40px;
    background-color: #04080f8c;
  }
  .body-tipotut .carousel-inner p {
    font-size: 25px;
    background-color: #04080f8c;
  }
  .body-tipotut .volver-tipotut a {
    font-size: 22px;
  }
  .body-tipotut .section-tipotut h4 {
    font-size: 40px;
  }
  .body-tipotut .section-tipotut h5 {
    font-size: 35px;
  }
  .body-tipotut .section-tipotut p {
    font-size: 22px;
  }
  .body-tipotut .footer-tipotutoria {
    margin: 5rem auto 5rem auto;
  }
  .body-tipotut .footer-tipotutoria a {
    font-size: 25px;
  }
  .body-tipotut .footer-tipotutoria__reg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .body-tipotut .footer-tipotutoria__reg h5 {
    font-size: 20px;
    font-weight: 300;
  }
}

@media (min-width: 1023px) {
  .body-tipotut .carousel-inner h5 {
    font-size: 40px;
    background-color: #04080f8c;
  }
  .body-tipotut .carousel-inner p {
    font-size: 25px;
    background-color: #04080f8c;
  }
  .body-tipotut .volver-tipotut a {
    font-size: 22px;
  }
  .body-tipotut .footer-tipotutoria {
    margin-top: 9rem;
  }
  .body-tipotut .footer-tipotutoria__reg h5 {
    font-size: 30px;
    margin-bottom: -5rem;
  }
}
/*# sourceMappingURL=estilo.css.map */